* {
    box-sizing: border-box; 
}
body {
    line-height: 1.5;
}
:root {
    --primary-color: #22343d;
    --secondary-color: #173a56;
    --light-color: #ffffff;
    --btn-color: #02897a;
}
h1, h2, h3, h4, h5, h6, p {	margin: 0;}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;    
    color: var(--primary-color);
}

ul, ol {
	margin: 0;
	padding: 0;
    list-style-type: none; }

a { text-decoration: none; 
    color: currentColor; /*обнулення стандартного кольору посилання*/
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

.container, 
.container-nav,
.header-nav, 
.logo, 
.nav-list, 
.header-sign,
.logo-cont,
.section-hero,
.container-title,
.section-hero-img,
.section-hero-buttons,
.product-list,
.benefits-list,
.benefits-points,
.quick-list,
.quick-item-cont,
.section-strategies,
.strategies-title-cont,
.strategies-list,
.section-price,
.price-cont,
.for-price-list,
.per-month-cont,
.dollar-per-month,
.clients-list, 
.Clients-item-cont,
.subtitle-cont,
.logo-socials,
.socials-list,
.footer-nav-list,
.footer-nav-item,
.footer-item-list,
.section-clients,
.clients-list,
.choose,
.choose-list,
.choose-list-item,
.work,
.work-list,
.work-item,
.work-item-cont,
.section-thousand,
.thousand-list,
.thousand-item,
.enterprise-cont,
.effects-cont,
.effects-icon-cont,
.question-cont {
    display: flex;
    align-items: center;
}
/*footer*/

.container {
    padding: 22px 145px;
    width: 100%;
    justify-content: space-between;
}

header .container {
    max-width: 1110px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-nav {
    justify-items: space-between;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;   
    line-height: 1.75; 
    color: var(--secondary-color);  
    margin-left: 16px;    
}

.header-nav {
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-list {
    gap: 30px;
    margin-right: 73px;
}

.nav-item {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75; 
    color: var(--primary-color);
}

.nav-item.current {
    font-weight: 600;/*вага міняється в залежності 
    від відкритої сторінки (на другій - жирний Customers, 
    на третій - Pricing)*/
}

.nav-item:hover,
.nav-item:focus {
    box-shadow: 1px 1px 1px 1px var(--btn-color);
}

.header-sign {
    gap: 21px;
}

.sign-in {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    color: var(--secondary-color);
    width: 105px;
    height: 42px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    align-content: center;
}

.sign-up {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-top: auto;
    padding-bottom: auto;
    color: var(--light-color);/*правило не працює*/
    text-align: center;
    width: 113px;
    height: 42px;
    border-radius: 4px;
    align-content: center;
    background-color: var(--btn-color);   
}

/*hero*/

.section-hero .container {
    justify-content: center;
    padding-bottom: 80px;
}

.container-title {
    flex-direction: column;
    width: 465px;
    margin-left: 35px;
    align-items: flex-start;
}

.page-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;  
    color: var(--primary-color);            
}

p.main-text {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 18px;
}

.section-hero-buttons {
    margin-top: 45px;
}

.button-start {
    width: 224px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.logo-video {
    margin-left: 30px;
}

.link-video {
    text-decoration: underline;
    margin-left: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration-skip-ink: none;
    color: var(--btn-color);
    height: 40px;
    padding-top: 4px;
}

/*Product for you*/

.section-product .container {
    flex-direction: column;
    padding: 0 145px 50px 145px;
}

.section-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
    line-height: 1.5;
}

.product-list {
    gap: 30px;
    margin-top: 50px;
    max-width: 1110px;
    align-items: flex-start;
}

.product-item {
    width: calc((100% - 30px * 3) / 4);
    padding-top: 0;
}

.product-icon {
    width: 54px;
    height: 54px;
    background-color: var(--btn-color);
    border-radius: 40%;     
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-icon.design{
    background-color: #4D8DFF;
}

.product-icon.heart{
    background-color: #740A76;
}

.product-icon.clock{
    background-color: #F03E3D;
}


.section-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: var(--primary-color);
    margin-top: 18px;
}

.product-item p {
    margin-top: 13px;
}

.button-product {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 32px 14px 34px;
    margin-top: 50px;
}

/*benefits*/

.section-benefits {
    padding: 50px 0 0 0;
}

.container-benefits {
    width: 486px;
}

.benefits-list {
    flex-direction: column;
    gap: 100px;
}

.benefits-item .container {
    justify-content: center;
    gap: 80px;
    padding-bottom: 0;
    padding-top: 0;
}

.subsubtitle, .benefits-pre {
    font-weight: 600;
    line-height: 1.62;
}

.container-benefits .section-subtitle {
    margin-top: 8px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}

.benefits-sublist p {
    margin-top: 12px;
    margin-bottom: 25px;
}

.benefits-text {
    margin-bottom: 30px;
}

.benefits-points {
    width: 451px;
}

.benefits-points p {
    line-height: 1.62;
    margin-top: 0;
}

.points {
    width: 35px;
    height: 35px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.points.yellow {
    background-color: #FF9900;
}

.points.red{
    background-color: #F03E3D;
}

.points.blue{
    background-color: #4D8DFF;
}

/*Quick & Easy Process*/

.section-quick {
    padding-top: 144px;
    padding-bottom: 100px;
}

.section-quick .container {
    flex-direction: column;
    max-width: 916px;
    margin: 0 auto;
    padding: 0;
}

.quick-title-and-text {
    display: flex;
    flex-direction: column;
    width: 542px;
    text-align: center;
    gap: 25px;
}

.quick-list {
    padding-top: 40px;
    flex-wrap: wrap;
    gap: 25px 91px;
}

.quick-item-cont {
    width: 408px;
    gap: 20px;
}

.quick-item-text-cont {
    width: 281px;
    height: 50px;
    border: 0px solid var(--light-color);
    border-radius: 25px;
    text-align: center;
    padding: 13px 0;
    fill: var(--light-color);
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

/* .btn-main {
    background: var(--btn-color);
    color: var(--light-color);
    border-radius: 4px;
    font-weight: 700;
}

.btn-white {

} */

.quick-btn {
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: var(--btn-color);
    color: var(--light-color);
    font-weight: 700;
    margin-top: 50px;
}

/*Contents Strategies*/

.section-strategies {
    padding: 0 145px 171px 145px;
    justify-content: center;
}

.section-strategies .container {  
    max-width: 1110px; 
    padding: 0; 
    flex-direction: column;
    align-items: center;
}

.strategies-title-cont {
    flex-direction: column;
    align-self: flex-start;
}

.section-title.strategies-title {
    font-size: 34px;
    align-self: flex-start;
}

.strategies-text {
    width: 465px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.strategies-list {
    gap: 30px;
    justify-content: center;
}

.strategies-item {
    width: 350px;
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    border-radius: 8px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.strategies-item-text {
    line-height: 1.75;
    margin-top: 24px;
    margin-left: 24px;
}

.strategies-item .section-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin-top: 12px;
    margin-left: 24px;
    margin-bottom: 40px;
}

.section-subtitle.link {
    color: var(--btn-color);
}

/*Price Table*/

.section-price .container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 150px;
}

.section-title.price-title {
    font-size: 34px;
    margin-bottom: 10px;
}

.price-text {
    font-weight: 500;
}

.price-cont {
    margin-top: 40px;
    gap: 72px;
}

.price-item {
    border-radius: 8px;
    width: 322px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background:var(--light-color);
    text-align: center;
    padding: 32px 0;
}

.price-item.green {
    background: var(--btn-color);
    color: var(--light-color);
}

.price-item .section-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin-top: 0;
}

.green .section-subtitle {
    color: var(--light-color);
}

.green .price-description {
    color: var(--light-color);
}

.price-green .price-value {
    color: var(--light-color);
}

.price-green .dollar {
    color: var(--light-color);
}

.price-green .per-month {
    color: #e0e0e0;
}

.price-description {
    line-height: 2.5;
    margin-top: 8px;
}

.per-month-cont {
    width: 157px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 7px;
}

.per-month-cont.ten {
    width: 187px;
}

.price-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0em;
    text-align: center;
    color: var(--btn-color);
}

.dollar {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: var(--btn-color);    
}

.per-month {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.for-price-list {
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 16px;
    gap: 16px;
}

.dollar-per-month {
    flex-direction: column;
    align-items: flex-start;
}

.order-now-btn {
    width: 139px;
    height: 44px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
}

.green .order-now-btn {
    background-color: var(--light-color);
    color: var(--btn-color);
}

/*What Clients Say*/

.section-clients .container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.clients-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 537px;
    text-align: center;
}

.clients-list {
    gap: 64px;
    margin-top: 40px;
}

.Clients-item {
    width: 327px;
    padding: 28px 26px;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.Clients-item-text {
    margin: 16px 0;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.Clients-item-cont img {
    margin-right: 16px;
}

.section-subtext {
    font-weight: 600;
    letter-spacing: 0.01em;
    color: var(--btn-color);
}

.Clients-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #252b42;
}

.section-join .container {
    width: 968px;
    height: 345px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 48px;
    background-color: var(--btn-color);
    border-radius: 32px;
    gap: 10px;
}

.subtitle-cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
}

.subtitle-cont .section-title {
    text-align: left;
    font-weight: 600;    
    color: var(--light-color);
}

.join-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: var(--light-color);
    color: var(--btn-color);
    font-weight: 600;
    font-size: 20px;
}

.join-img {
    /* width: 351px;  */
    height: 100%;
}

footer {
    padding: 100px 0 40px 0;
}

footer .container {
    width: 1110px;
    padding: 0;
    /* justify-content:center; */
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.logo-socials {
    flex-direction: column;
    margin-right: 146px;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo-socials .logo-cont {
    margin-bottom: 18px;
    width: 178px;
}

.socials-list {
    gap: 16px;
}

.socials-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;     
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDFFFC;
}

.footer-nav-list {
    align-items: flex-start;
}

.footer-nav-item {
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.footer-item-list{
    flex-direction: column;
    align-items:flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
}

.footer-nav-item.first {
    margin-right: 129px;
}

.footer-nav-item.second{
    margin-right: 83px;
}

.footer-nav-item.third,
.footer-form {
    width: 325px;
}

.footer-nav-title.third{
    width: 280px;
    margin-bottom: 30px;
}

.footer-input-cont {
    position: relative;
}

.footer-input {
    width: 100%;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 10px 42px;
    transition: border-color 250ms ease;
    outline: none;
}

.footer-input:focus,
.footer-input:hover {
    border: 2px solid var(--btn-color);
}

.footer-input::placeholder {
    color: var(--btn-color);
    line-height: 1.75;
}

.footer-input-svg {
    position: absolute;
    top: 10px;
    left: 12px;
    fill: var(--primary-color);
}

.footer-input:hover + svg,
.footer-input:focus + svg {
    fill: var(--btn-color);
}

.button-start.footer{
    width: 131px;
    height: 39px;
    font-size: 16px;
}

.final-text{
    text-align: center;
    line-height: 1.875;
}

.page-title.pricing{
    margin-top: 50px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
}

.section-title.pricing {
    font-size: 40px;
    margin-bottom: 16px;
}

.price-cont.pricing{
    margin-top: 50px;
}

.price-value.pricing {
    font-family: "Poppins", sans-serif;
}
 /*Page 2*/

.section-clients{
    flex-direction: column;
    margin-bottom: 100px;
    padding: 100px 0 0 0;
}

.section-clients .page-title {
    margin-bottom: 50px;
}

.clients-list {
    margin-top: 0;
    gap: 64px;
}

.choose {
    flex-direction: column;
    padding: 24px 0 68px 0;
    background: #f5f5f5;
}

.choose .section-title {
    margin-bottom: 50px;
}

.choose-list {
    max-width: 1110px;
    gap: 30px;
}

.choose-list-item {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 33px 38px;
    width: 350px;
    height: 305px;
    flex-direction: column;
    align-items: center;
}

.customers-choose-icon {
    width: 50px;
    height: 50px;
    background-color: var(--btn-color);
    border-radius: 40%;     
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 32px;
}

/* .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
} */
/* 
.customers-choose-icon .arrow{
    fill: #fff;
} */

.customers-choose-icon.design {
    background: #4D8DFF;
}

.customers-choose-icon.heart-red {
    background: #F03E3D;
}

.choose-list-title {
    margin-bottom: 16px;
}

.choose-list-text {
    line-height: 1.69;
    letter-spacing: 0.01em;
    width: 275px;
    text-align: center;
}

.work {
    padding: 100px 0 115px 0;
    flex-direction: column;
    align-items: center;
}

.work .section-title {
    margin-bottom: 73px;
}

.work-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
    gap: 100px;
}

.work-item {
    width: 1027px;
    gap: 88px;
}

.work-item-cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.work-item-step {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.work-item-cont .section-subtitle {
    font-size: 24px;
    margin-top: 0;
}

.work-item-text {
    line-height: 1.75;
}

.work .button-start {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.section-thousand {
    flex-direction: column;
    align-items: center;
    padding: 35px 0 45px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.section-thousand .section-title {
    width: 537px;
    margin-bottom: 93px;
}

.thousand-list {
    gap: 227px;
}

.thousand-item {
    flex-direction: column;
    align-items: center;
}

.thousand-item-icon {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background: #ffefef;
    padding: 44px;
    margin-bottom: 27px;
}

.thousand-item-icon.blue {
    background: #F2F6FF;
}

.thousand-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
}

.thousand-item-text {
    font-size: 18px;
    line-height: 1.78;
}

.thousand-item-text.find {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
}

.section-join.page-customers {
    padding: 150px 0 50px 0;
}

.enterprise-cont {
    flex-direction: column;
    padding-top: 52px;
    padding-bottom: 52px;
    background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprise-cont .section-subtitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 16px;
}

.enterprise-cont .section-title {
    font-size: 34px;
    margin-bottom: 8px;
}

.enterprise-text {
    font-size: 18px;
    margin-bottom: 32px;
}

.section-effects {
    padding: 150px 0;
}

.effects-cont {
    justify-content: center;
    gap: 60px;
    width: 1131px;
    margin-left: auto;
    margin-right: auto;
}

.section-effects .section-title {
    margin-bottom: 56px;
    font-size: 34px;
}

.section-effects .section-subtitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 23px;
}

.effects-text.last {
    margin-bottom: 0;
}

.effects-text {
    margin-bottom: 39px;
}

.effects-icon {
    margin-right: 14px;
}

.section-question {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.section-question .section-title {
    font-size: 34px;
    margin-bottom: 8px;
}

.question-main-text {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}

.section-question .section-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.question-cont {
    align-content: flex-end;
    gap: 16px;
}

.horisont {
    height: 0;
    color: #e7e7e7;
    margin-top: 22px;
    margin-bottom: 16px;
}

.question-text {
    margin-top: 14px;
}