* {
    box-sizing: border-box; 
}
:root {
    --primary-color: #22343d;
    --secondary-color: #173a56;
    --light-color: #ffffff;
    --btn-color: #02897a;
}
h1, h2, h3, h4, h5, h6, p {	margin: 0;}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-color);
}

ul, ol {
	margin: 0;
	padding: 0;
    list-style-type: none; }

a { text-decoration: none; 
    color: currentColor; /*обнулення стандартного кольору посилання*/
}
img {
    display: block;
    /* max-width: 100%;
    height: auto; */
}

.container, 
.container-nav,
.header-nav, 
.logo, 
.nav-list, 
.header-sign,
.header-logo-cont,
.section-hero,
.container-title,
.section-hero-img,
.section-hero-buttons,
.product-list,
.benefits-points,
.quick-list,
.quick-item-cont,
.section-strategies,
.strategies-title-cont,
.strategies-list,
.section-price,
.price-cont,
.for-price-list,
.per-month-cont,
.dollar-per-month {
    display: flex;
    align-items: center;
}
/*footer*/

.container {
    padding: 22px 145px;
    width: 100%;
    justify-content: space-between;
}

.container-nav {
    justify-items: space-between;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;   
    line-height: 1.75; 
    color: var(--secondary-color);  
    margin-left: 16px;    
}

.header-nav {
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-item {
    gap: 30px;
    margin-right: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75; 
    color: var(--primary-color);
}

.nav-item:first-child {
    font-weight: 600;/*вага міняється в залежності 
    від відкритої сторінки (на другій - жирний Customers, 
    на третій - Pricing)*/
}

.header-sign {
    gap: 21px;
}

.sign-in {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--secondary-color);
    width: 105px;
    height: 42px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    align-content: center;
}

.sign-up {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--light-color);/*правило не працює*/
    text-align: center;
    width: 113px;
    height: 42px;
    border-radius: 4px;
    align-content: center;
    background-color: var(--btn-color);   
}

/*hero*/

.section-hero .container {
    justify-content: center;
}

.container-title {
    flex-direction: column;
    width: 465px;
    margin-left: 35px;
    align-items: flex-start;
}

.page-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: var(--primary-color);            
}

p.main-text {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 18px;
}

.section-hero-buttons {
    margin-top: 45px;
}

.button-start {
    width: 178px;
    height: 53px;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.button-start:hover {
    cursor: pointer;
}

.logo-video {
    margin-left: 30px;
}

.link-video {
    text-decoration: underline;
    margin-left: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration-skip-ink: none;
    color: var(--btn-color);
}

/*Product for you*/

.section-product .container {
    flex-direction: column;
    padding: 0 145px 50px 145px;
}

.section-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color);
}

.product-list {
    gap: 30px;
    margin-top: 50px;
    max-width: 1110px;
    /* justify-content: center; */
}

.product-item {
    width: calc((100% - 30px * 3) / 4);
}

.section-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: var(--primary-color);
    margin-top: 18px;
}

.product-item p {
    margin-top: 13px;
}

.button-product {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    padding: 15px 32px 14px 34px;
    margin-top: 50px;
}

.button-product:hover {
    cursor: pointer;
}

/*benefits*/

.section-benefits {
    padding: 50px 0 0 0;
}

.container-benefits {
    width: 486px;
}

.benefits-list .container {
    justify-content: center;
    gap: 80px;
    padding-bottom: 0;
}

.subsubtitle, .benefits-pre {
    font-weight: 600;
    line-height: 1.62;
}

.container-benefits .section-subtitle {
    margin-top: 8px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}

.container-benefits p {
    margin-top: 12px;
    margin-bottom: 25px;
}

.benefits-points {
    width: 451px;
}

.benefits-points p {
    line-height: 1.62;
    margin-top: 0;
}

.points {
    margin-right: 30.06px;
    margin-bottom: 30px;
}

/*Quick & Easy Process*/

.section-quick {
    padding-top: 144px;
    padding-bottom: 100px;
}

.section-quick .container {
    flex-direction: column;
    max-width: 916px;
    margin: 0 auto;
    padding: 0;
}

.quick-title-and-text {
    display: flex;
    flex-direction: column;
    width: 542px;
    text-align: center;
    gap: 25px;
}

.quick-list {
    padding-top: 40px;
    flex-wrap: wrap;
    gap: 25px 91px;
}

.quick-item-cont {
    width: 408px;
    gap: 20px;
}

.quick-item-text-cont {
    width: 281px;
    height: 50.1px;
    border: 0px solid var(--light-color);
    border-radius: 25px;
    text-align: center;
    padding: 13px 0;
    fill: var(--light-color);
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.quick-btn {
    border-radius: 4px;
    border: 0;
    width: 216px;
    height: 53px;
    background: var(--btn-color);
    color: var(--light-color);
    font-weight: 700;
    margin-top: 50px;
}

/*Contents Strategies*/

.section-strategies {
    padding: 0 145px 171px 145px;
    justify-content: center;
}

.section-strategies .container {  
    max-width: 1110px; 
    padding: 0; 
    flex-direction: column;
    align-items: center;
}

.strategies-title-cont {
    flex-direction: column;
    align-self: flex-start;
}

.section-title.strategies-title {
    font-size: 34px;
    align-self: flex-start;
}

.strategies-text {
    width: 465px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.strategies-list {
    gap: 30px;
    justify-content: center;
}

.strategies-item {
    width: 350px;
}

.strategies-item-text {
    line-height: 1.75;
    margin-top: 24px;
    margin-left: 24px;
}

.strategies-item .section-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin-top: 12px;
    margin-left: 24px;
}

.section-subtitle.link {
    color: var(--btn-color);
}

/*Price Table*/

.section-price .container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 100px;
}

.section-title.price-title {
    font-size: 34px;
    margin-bottom: 10px;
}

.price-text {
    font-weight: 500;
}

.price-cont {
    margin-top: 40px;
    gap: 72px;
}

.price-item {
    border-radius: 8px;
    width: 322px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background:var(--light-color);
    text-align: center;
    padding: 32px 0;
}

.price-item.green {
    background: var(--btn-color);
    color: var(--light-color);
}

.price-item .section-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin-top: 0;
}

.green .section-subtitle {
    color: var(--light-color);
}

.green .price-description {
    color: var(--light-color);
}

.price-green .price-value {
    color: var(--light-color);
}

.price-green .dollar {
    color: var(--light-color);
}

.price-green .per-month {
    color: #e0e0e0;
}

.price-description {
    line-height: 2.5;
    margin-top: 8px;
}

.per-month-cont {
    width: 157px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 7px;
}

.per-month-cont.ten {
    width: 187px;
}

.price-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0em;
    text-align: center;
    color: var(--btn-color);
}

.dollar {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: var(--btn-color);    
}

.per-month {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.for-price-list {
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 16px;
    gap: 16px;
}

.dollar-per-month {
    flex-direction: column;
    align-items: flex-start;
}

.order-now-btn {
    width: 139px;
    height: 44px;
    border: 0;
    border-radius: 8px;
    margin-top: 30px;
    background-color: var(--btn-color);
    color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.green .order-now-btn {
    background-color: var(--light-color);
    color: var(--btn-color);
}

/*What Clients Say*/

